
  {{this}}
  <div id="workouts">
    {{#each this}}
    <h1>{{name}}</h1>
    <br>
    {{#each exercises}}
    <div class="exercise">
      <p>Name: {{name}}</p>
      <p>Type: {{type}}</p>
      <p>Weight: {{weight}}</p>
      <p>Sets: {{sets}}</p>
      <p>Reps: {{reps}}</p>
      <p>Duration: {{duration}}</p>
      <p>Distance: {{distance}}</p>
    </div>
    {{/each}}
    {{/each}}
  </div>